  /////////////////////////
 // WIDE DESKTOP STYLES //
/////////////////////////

/*------------------------------------*\
    UNIVERSAL STYLES
\*------------------------------------*/

/*------------------------------------*\
    ELEMENTAL STYLES
\*------------------------------------*/

/*------------------------------------*\
    UTILITIES
\*------------------------------------*/

/*------------------------------------*\
    CONTENT
\*------------------------------------*/

/*--Primary Content--*/
.primary-content {
  width: 1180px;
  .content-description {
    padding: {
      right: 7%;
    }
  }
}

/*--Primary Navigation--*/
.primary-navigation {
  width: 1125px;
}
