  /////////////////////////
 // WIDE DESKTOP STYLES //
/////////////////////////

/*------------------------------------*\
    UNIVERSAL STYLES
\*------------------------------------*/

/*------------------------------------*\
    ELEMENTAL STYLES
\*------------------------------------*/

h2 {
  font-size: 1.875em;
}

/*------------------------------------*\
    UTILITIES
\*------------------------------------*/

/*------------------------------------*\
    CONTENT
\*------------------------------------*/

/*--Primary Header--*/
.primary-header {
  .title {
    margin: {
      left: 5%;
    }
  }
  .information {
    margin: {
      right: 5%;
    }
  }
  .information-section {
    float: left;
    padding: {
      right: 30px;
      left: 30px;
    };
    height: 70px;
  }
  .information-about {
    width: 195px;
    padding: {
      left: 0;
    }
  }
  .information-dates {
    width: 315px;
  }
  .information-sponsor {
    width: 175px;
    padding: {
      right: 0;
    }
  }
  .subtitle {
    width: 1200px;
  }
}

/*--Primary Content--*/
.primary-content {
  width: 1200px;
  .content-description {
    padding: {
      right: 48px;
    }
  }
}

/*--Primary Navigation--*/
.primary-navigation {
  width: 1125px;
}
