  ////////////////////
 // DESKTOP STYLES //
////////////////////

/*------------------------------------*\
    UNIVERSAL STYLES
\*------------------------------------*/

/*------------------------------------*\
    ELEMENTAL STYLES
\*------------------------------------*/

h2 {
  font-size: 1.5em;
}

a {
  &:hover {
    text-decoration: underline;
  }
}

/*------------------------------------*\
    UTILITIES
\*------------------------------------*/

.navigation-link {
  &:hover {
    text-decoration: none;
  }
}

/*------------------------------------*\
    CONTENT
\*------------------------------------*/

/*--Primary Header--*/
.primary-header {
  padding: {
    top: 60px;
    right: 0;
    left: 0;
  }
  .title {
    float: left;
    margin: {
      top: 5px;
      left: 2%;
    }
  }
  .title-link {
    width: 330px;
    height: 85px;
    background-image: url("../img/logo.png");
  }
  .information {
    float: right;
    margin: {
      right: 2%;
    }
    display: block;
    @include font-details(null, white, 300, 1.125);
  }
  .information-emphasized {
    font-weight: 500;
  }
  .information-section {
    float: left;
    border: {
      right: 1px solid white;
    }
    padding: {
      right: 15px;
      left: 15px;
    };
    height: 70px;
  }
  .information-about {
    padding: {
      top: 7px;
      left: 0;
    }
    width: 180px;
    font-size: 0.8125em;
  }
  .information-dates {
    padding: {
      top: 5px;
    }
    width: 285px;
    font-size: 1.125em;
  }
  .information-sponsor {
    border: {
      right: none;
    }
    padding: {
      top: 10px;
      right: 0;
    }
    width: 160px;
    font-size: 0.625em;
  }
  .information-sponsor-link {
    display: block;
    padding: {
      top: 40px;
    }
    background-image: url('../img/acm-siggraph-icons.png');
    background-position: center 0;
    background-repeat: no-repeat;
  }
  .subtitle {
    clear: both;
    width: 960px;
    margin: 0 auto;
  }
  .subtitle-link {
    &:hover {
      text-decoration: none;
      @include experimental('animation', color-wheel 15s infinite, webkit, moz, o, not ms);
    }
  }
}

/*--Primary Content--*/
.primary-content {
  width: 960px;
  .content-text {
    float: left;
  }
  .content-description {
    clear: left;
    padding: {
      right: 36px;
    }
    width: 33.3333%;
  }
  .content-main {
    width: 66.6666%;
  }
}
.content-header {
  float: left;
}
.content-main {
  margin: {
    top: -20px;
  }
  p {
    &:first-child {
      margin: {
        top: 0;
      }
    }
  }
}
.content-footer {
  margin: {
    top: 10px;
  }
}
.content-navigation {
  .navigation-list {
    text-align: right;
  }
  .navigation-link {
    @include single-transition(color, 100ms, ease-out);
    &:hover {
      color: white;
    }
  }
}

/*--Primary Navigation--*/
.primary-navigation {
  width: 900px;
  .navigation-link {
    &:hover {
      .fa {
        &:after {
          opacity: 0.2;
        }
      }
      .countdown-title {
        color: white;
      }
    }
  }
  .countdown-title {
    color: $black-text;
    @include single-transition(color, 100ms, ease-out);
  }
}
