
@font-face {
  font-family: 'Swiss';
  src: url('../fonts/272616_2_0.eot');
  src: url('../fonts/272616_2_0.eot?#iefix') format('embedded-opentype'),
    url('../fonts/272616_2_0.woff') format('woff'),
    url('../fonts/272616_2_0.ttf') format('truetype'),
    url('../fonts/272616_2_0.svg#HelveticaNeueLTStd75Bold') format('svg');
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: 'Swiss';
  src: url('../fonts/272616_3_0.eot');
  src: url('../fonts/272616_3_0.eot?#iefix') format('embedded-opentype'),
    url('../fonts/272616_3_0.woff') format('woff'),
    url('../fonts/272616_3_0.ttf') format('truetype'),
    url('../fonts/272616_3_0.svg#HelveticaNeueLTStd65Medium') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Swiss';
  src: url('../fonts/272616_1_0.eot');
  src: url('../fonts/272616_1_0.eot?#iefix') format('embedded-opentype'),
    url('../fonts/272616_1_0.woff') format('woff'),
    url('../fonts/272616_1_0.ttf') format('truetype'),
    url('../fonts/272616_1_0.svg#HelveticaNeueLTStd55Roman') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Swiss';
	src: url('../fonts/272616_0_0.eot');
	src: url('../fonts/272616_0_0.eot?#iefix') format('embedded-opentype'),
    url('../fonts/272616_0_0.woff') format('woff'),
    url('../fonts/272616_0_0.ttf') format('truetype'),
    url('../fonts/272616_0_0.svg#webfont0kVe2CEL') format('svg');
	font-weight: lighter;
	font-style: normal;
}
