  ///////////////
 // VARIABLES //
///////////////

  //----------------------------------//
 //  COLORS
//----------------------------------//

$beige-background: #beb1a0;
$beige-text: #c2b59b;

$black-background: #333333;
$black-text: #57544f;

$grey-circle: #4d4d4d;
$grey-text: #989693;

$orange-text: #f36c3e;

$teal-text: #00b09a;
