  ///////////////////
 // IE STYLESHEET //
///////////////////

/* QQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQ /
/   																						                                             /
/    _________.__                                  .__      _______________  ____   _____    /
/   /   _____/|__| ____   ________________  ______ |  |__   \_____  \   _  \/_   | /  |  |   /
/   \_____  \ |  |/ ___\ / ___\_  __ \__  \ \____ \|  |  \   /  ____/  /_\  \|   |/   |  |_  /
/   /        \|  / /_/  > /_/  >  | \// __ \|  |_> >   Y  \ /       \  \_/   \   /    ^   /  /
/  /_______  /|__\___  /\___  /|__|  (____  /   __/|___|  / \_______ \_____  /___\____   |   /
/          \/   /_____//_____/            \/|__|        \/          \/     \/         |__|   /
/ 																							                                             /
/ QQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQ */
/*
  Sass/Compass Generated Stylesheet for SIGGRAPH 2014 ePromotion -- https://github.com/qltd/s2014-epromo

*/
/*------------------------------------*\
    TABLE OF CONTENTS
\*------------------------------------*/

/*---------------------------------------------------------------------*\

  1. LIBRARIES..................Stylesheet Related Resources
    a. 3rd Party Libraries......Non-Native Stylesheets and Mixins
    b. SIGGRAPH Libraries.......SIGGRAPH Specific Variables and Mixins
  2. UNIVERSAL STYLES...........Styles Applied to All Elements
  3. ELEMENTAL STYLES...........Styles for HTML Elements
  4. UTILITIES..................Reusable Utility Classes
  5. CONTENT....................Page Content
    a. Primary Header...........Styles for Page Header
    b. Primary Content..........Styles for Main Content
    c. Primary Navigation.......Styles for Global Navigation
  6. MEDIA QUERIES..............Media Queries
    a. Screen Width.............Imports Screen Width Stylesheet(s)

\*---------------------------------------------------------------------*/

/*------------------------------------*\
    LIBRARIES
\*------------------------------------*/

/*--SIGGRAPH Libraries--*/
@import "vars";
@import "ie/font-face";
@import "ie/mixins";

/*------------------------------------*\
    UNIVERSAL STYLES
\*------------------------------------*/

/*------------------------------------*\
    ELEMENTAL STYLES
\*------------------------------------*/

body {
  @include Swiss-Roman();
}

h2, h3, h4 {
  @include Swiss-Light();
}

p {
  @include Swiss-Light();
}

strong {
  @include Swiss-Bold();
}

/** prevent height distortion in IE8 */
img {
  width: auto !important;
}

/*------------------------------------*\
    UTILITIES
\*------------------------------------*/

.fa {
  &.beige {
    &:after {
      background-color: transparent;
      background-image: url("../img/circle-beige.png");
    }
  }
  &.orange {
    &:after {
      background-color: transparent;
      background-image: url("../img/circle-orange.png");
    }
  }
  &.teal {
    &:after {
      background-color: transparent;
      background-image: url("../img/circle-teal.png");
    }
  }
}

.loading-block {
  .loading-text {
    @include Swiss-Light();
  }
}

/** hide AddThis buttons that are problematic for IE8 */
.social-icons {
  .addthis_button_tweet, .addthis_counter {
    display: none;
  }
  .addthis_button_google_plusone {
    margin: {
      bottom: 0;
    }
  }
}

/*------------------------------------*\
    CONTENT
\*------------------------------------*/

/*--Primary Header--*/

/*--Primary Content--*/
.primary-content {
  display: block;
}

/*--Primary Navigation--*/
.primary-navigation {
  display: block;
  .fa {
    &:after {
      display: none;
    }
  }
  .countdown-title, .countdown-number {
    @include Swiss-Light();
  }
  .countdown-date {
    @include Swiss-Medium();
    background-color: transparent;
    background-image: url("../img/circle-countdown.png");
  }
}

/*------------------------------------*\
    MEDIA QUERIES
\*------------------------------------*/

/*--Screen Width--*/

// Wide Mobile
@media only screen and (min-width: 480px) {
  @import 'ie/mobile-wide';
}

// Tablet
@media only screen and (min-width: 768px) {
  @import 'ie/tablet';
}

// Desktop
@media only screen and (min-width: 1025px) {
  @import 'ie/desktop';
}

// Wide Desktop
@media only screen and (min-width: 1280px) {
  @import 'ie/desktop-wide';
}
