  ///////////////////
 // IE STYLESHEET //
///////////////////

/*------------------------------------*\
    LIBRARIES
\*------------------------------------*/

/*--SIGGRAPH Libraries--*/
@import "vars";
@import "ie/font-face";
@import "ie/mixins";

/*------------------------------------*\
    UNIVERSAL STYLES
\*------------------------------------*/

/*------------------------------------*\
    ELEMENTAL STYLES
\*------------------------------------*/

body {
  @include Swiss-Roman();
}

h2, h3 {
  @include Swiss-Light();
}

p {
  @include Swiss-Light();
}

strong {
  @include Swiss-Bold();
}

/*------------------------------------*\
    UTILITIES
\*------------------------------------*/

.loading-block {
  .loading-text {
    @include Swiss-Light();
  }
}

/*------------------------------------*\
    CONTENT
\*------------------------------------*/

/*--Header--*/
.primary-header {
  strong {
    @include Swiss-Medium();
  }
}

/*--Primary Content--*/
.primary-content {
  display: block;
}

/*--Navigation--*/
.primary-navigation {
  .countdown-title, .countdown-number {
    @include Swiss-Light();
  }
  .countdown-date {
    @include Swiss-Medium();
    background-color: transparent;
    background-image: url("../img/countdown-circle.png");
  }
}
