/* QQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQ /
/   																						                                             /
/    _________.__                                  .__      _______________  ____   _____    /
/   /   _____/|__| ____   ________________  ______ |  |__   \_____  \   _  \/_   | /  |  |   /
/   \_____  \ |  |/ ___\ / ___\_  __ \__  \ \____ \|  |  \   /  ____/  /_\  \|   |/   |  |_  /
/   /        \|  / /_/  > /_/  >  | \// __ \|  |_> >   Y  \ /       \  \_/   \   /    ^   /  /
/  /_______  /|__\___  /\___  /|__|  (____  /   __/|___|  / \_______ \_____  /___\____   |   /
/          \/   /_____//_____/            \/|__|        \/          \/     \/         |__|   /
/ 																							                                             /
/ QQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQ */
/*
  Sass/Compass Generated Stylesheet for SIGGRAPH 2014 ePromotion -- https://github.com/qltd/s2014-epromo

*/
/*------------------------------------*\
    TABLE OF CONTENTS
\*------------------------------------*/

/*---------------------------------------------------------------------*\

  1. LIBRARIES..................Stylesheet Related Resources
    a. 3rd Party Libraries......Non-Native Stylesheets and Mixins
    b. SIGGRAPH Libraries.......SIGGRAPH Specific Variables and Mixins
  2. UNIVERSAL STYLES...........Styles Applied to All Elements
  3. ELEMENTAL STYLES...........Styles for HTML Elements
    a. Root Elements............Styles for Root Elements
    b. Heading Elements.........Styles for Heading Tags
    c. Form Elements............Styles for Form Elements
    d. Sectioning Elements......Styles for Sectioning Elements
    e. Flow Elements............Styles for Flow Elements
  4. UTILITIES..................Reusable Utility Classes
  5. CONTENT....................Page Content
    a. Header...................Styles for Brand Images and Headings
    b. Navigation...............Styles for Navigation
    c. Primary Content..........Styles for Focal Content
    d. Ancillary Content........Styles for Supplemental Content
    e. Footer...................Footer Content
  6. MEDIA QUERIES..............Media Queries
    a. Screen Width.............Imports Screen Width Stylesheet(s)
    b. Pixel Density............Imports HiDPI Stylesheet(s)
    c. Print....................Imports Print Stylesheet(s)
  7. APPENDIX...................Additional Information
    a. Rule Structure...........Heirarchy of CSS Rules
    b. Citations................Giving Credit Where Credit is Due

\*---------------------------------------------------------------------*/

/*------------------------------------*\
    LIBRARIES
\*------------------------------------*/

/*--Third Party Libraries--*/
@import "normalize"; // symlinked css as scss from ../lib/normalize-css/normalize.css
@import "html5-boilerplate"; // symlinked css as scss from ../lib/html5-boilerplate/css/main.css
@import "compass"; // requires compass -- 'gem install compass' or 'bundle install'
@import "../lib/font-awesome/scss/font-awesome";

/*--SIGGRAPH Libraries--*/
@import "vars";
@import "font-face";
@import "mixins";

/*------------------------------------*\
    UNIVERSAL STYLES
\*------------------------------------*/

*, *:before, *:after {
  @include box-sizing(border-box);
}

/*------------------------------------*\
    ELEMENTAL STYLES
\*------------------------------------*/

body {
  min-width: 320px;
  background-color: $black-background;
  @include Swiss(16px);
}

h1 {
  margin: 0 0 32px;
}

h2, h3 {
  margin: 0;
  font-weight: 300;
}

h2 {
  @include font-details(1.125em, $black-text);
}

h3 {
  @include font-details(1em, white);
}

p {
  @include font-details(0.875em, $beige-text, 300);
}

a {
  color: white;
  text-decoration: none;
}

img, iframe, object, video {
  max-width: 100%;
}

img, video {
  height: auto !important;
}

/*------------------------------------*\
    UTILITIES
\*------------------------------------*/

.fa {
  display: block;
  font-size: 3.125em;
  &.beige {
    color: $beige-text;
  }
  &.orange {
    color: $orange-text;
  }
  &.teal {
    color: $teal-text;
  }
  &.fa-spin {
    display: inline-block;
  }
}

.hidden-loading {
  position: absolute !important;
  visibility: hidden;
}

.loading-block {
  padding: 75px 0;
  max-width: 100%;
  text-align: center;
  color: $grey-text;
  .fa {
    margin: {
      bottom: 10px;
    }
  }
  .loading-text {
    display: block;
    @include font-details(1.5em, null, 300);
  }
}
.loading-media {
  display: inline-block;
}

.navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  .navigation-list-item {
    display: inline-block;
  }
}

/*------------------------------------*\
    CONTENT
\*------------------------------------*/

/*--Primary Header--*/
.primary-header {
  padding: 32px 16px;
  background: $beige-background url("../img/bg.jpg");
  .title-link {
    @extend .ir;
    display: block;
    width: 247px;
    height: 64px;
    background-image: url("../img/logo-mobile.png");
  }
  .information {
    display: none;
  }
  // p {
  //   float: left;
  //   margin: 0;
  //   color: white;
  //   strong {
  //     font-weight: 500;
  //   }
  //   &.information {
  //     width: 195px;
  //     @include font-details(0.8125em, null, null, 1.125);
  //   }
  //   &.dates {
  //     width: 262px;
  //     height: 52px;
  //     @include font-details(1.125em, null, null, 1.125);
  //     span {
  //       &.vancouver-convention-center {
  //         @extend .ir;
  //         display: block;
  //         width: 258px;
  //         height: 17px;
  //         background: url("../img/vancouver-convention-center.png") 0% 0% / 258px 17px no-repeat;
  //       }
  //     }
  //   }
  // }
}


/*--Primary Content--*/
.primary-content {
  @extend .clearfix;
  margin: 36px 12px;
  .content-text {
    line-height: 1.75;
  }
  .content-description {
    margin: {
      bottom: 30px;
    }
  }
}
.content-header {
  .fa {
    margin: {
      bottom: 30px;
    }
  }
}
.content-footer {
  margin: {
    top: 50px;
  }
}
.content-navigation {
  .navigation-link {
    color: $grey-text;
  }
  .navigation-null {
    color: $black-text;
  }
  .fa {
    display: inline;
    margin: 0 8px;
    font-size: 1.875em;
  }
}

/*--Primary Navigation--*/
.primary-navigation {
  margin: {
    right: auto;
    left: auto;
  };
  width: 225px;
  .navigation-list-item {
    margin: 75px auto 0;
    width: 225px;
    height: 155px;
    vertical-align: top;
  }
  .navigation-link {
    display: inline-block;
  }
  .fa {
    margin: {
      bottom: 10px;
    }
  }
  .countdown-number {
    display: block;
    margin: {
      bottom: 10px;
    }
    @include font-details(1.5em, $grey-text, 300);
  }
  .countdown-title {
    @include font-details(0.875em, null, 300);
  }
  .countdown-date {
    display: inline-block;
    margin: {
      bottom: 10px;
    }
    border-radius: 50%;
    padding: 6px 5px 0;
    width: 50px;
    height: 50px;
    background-color: $grey-circle;
    @include font-details(null, $black-background, 500);
    text-transform: uppercase;
  }
}

/*------------------------------------*\
    MEDIA QUERIES
\*------------------------------------*/

/*--Screen Width--*/

// Wide Mobile
@media only screen and (min-width: 480px) {
  @import 'mobile-wide';
}

// Tablet
@media only screen and (min-width: 768px) {
  @import 'tablet';
}

// Desktop
@media only screen and (min-width: 960px) {
  @import 'desktop';
}

// Wide Desktop
@media only screen and (min-width: 1200px) {
  @import 'desktop-wide';
}

/*--Pixel Density--*/

// Global
@media only screen and (-webkit-min-device-pixel-ratio: 1.3),
  only screen and (min--moz-device-pixel-ratio: 1.3),
  only screen and (-o-min-device-pixel-ratio: 13/10),
  only screen and (min-resolution: 1.3dppx) {
  @import 'high-pixel-density/main';
}

// Wide Mobile
@media only screen and (-webkit-min-device-pixel-ratio: 1.3) and (min-width: 480px) ,
  only screen and (min--moz-device-pixel-ratio: 1.3) and (min-width: 480px) ,
  only screen and (-o-min-device-pixel-ratio: 13/10) and (min-width: 480px) ,
  only screen and (min-resolution: 1.3dppx) and (min-width: 480px)  {
  @import 'high-pixel-density/mobile-wide';
}

// Tablet
@media only screen and (-webkit-min-device-pixel-ratio: 1.3) and (min-width: 768px) ,
  only screen and (min--moz-device-pixel-ratio: 1.3) and (min-width: 768px) ,
  only screen and (-o-min-device-pixel-ratio: 13/10) and (min-width: 768px) ,
  only screen and (min-resolution: 1.3dppx) and (min-width: 768px)  {
  @import 'high-pixel-density/tablet';
}

// Desktop
@media only screen and (-webkit-min-device-pixel-ratio: 1.3) and (min-width: 960px) ,
  only screen and (min--moz-device-pixel-ratio: 1.3) and (min-width: 960px) ,
  only screen and (-o-min-device-pixel-ratio: 13/10) and (min-width: 960px) ,
  only screen and (min-resolution: 1.3dppx) and (min-width: 960px)  {
  @import 'high-pixel-density/desktop';
}

// Wide Desktop
@media only screen and (-webkit-min-device-pixel-ratio: 1.3) and (min-width: 1200px) ,
  only screen and (min--moz-device-pixel-ratio: 1.3) and (min-width: 1200px) ,
  only screen and (-o-min-device-pixel-ratio: 13/10) and (min-width: 1200px) ,
  only screen and (min-resolution: 1.3dppx) and (min-width: 1200px)  {
  @import 'high-pixel-density/desktop-wide';
}
