<div class="loading-block" data-ng-if="!index">
  <i class="fa fa-spin fa-spinner"></i>
  <span class="loading-text">Loading</span>
</div>
<ul class="navigation-list">
  <li class="navigation-list-item" data-ng-repeat="item in index">
    <a class="navigation-link" data-ng-href="/countdown/{{ item.countdownNumber }}" data-ng-if="item.title">
      <i data-ng-class="['fa', item.fontAwesomeClass, item.fontAwesomeColor]"></i>
      <span class="countdown-number">{{ item.countdownNumber }}</span>
      <span class="countdown-title">{{ item.title }}</span>
    </a>
    <span class="countdown-unreleased" data-ng-if="!item.title">
      <span class="countdown-date">{{ item.releaseDate | formatDate }}</span>
      <span class="countdown-number">{{ item.countdownNumber }}</span>
    </span>
  </li>
</ul>
