<header class="content-header">
  <i data-ng-class="['fa', item.fontAwesomeClass, item.fontAwesomeColor]"></i>
  <h3>{{ item.title | countdownTitle: item.countdownNumber }}</h3>
</header>
<div class="loading-block" data-loading-block data-ng-if="!item"></div>
<div class="content-text content-description" data-addthis-append data-addthis-description="{{ item.description | htmlToPlainText | summarize: 160 }}" data-addthis-id="{{ item.countdownNumber | addthisId }}" data-addthis-title="{{ item.title | pageTitle }}" data-ng-bind-html="item.description | renderHtml" data-ng-if="item.description"></div>
<div class="content-text content-main" data-ng-bind-html="item.content | renderHtml" data-ng-if="item.content" data-media-load-events data-media-resize-height></div>
<footer class="content-footer">
  <nav class="content-navigation" data-ng-if="item">
    <ul class="navigation-list">
      <li class="navigation-list-item">
        <a class="navigation-link" title="Previous" data-ng-href="{{ '/countdown/' + Countdown.previous(item.countdownNumber) }}" data-ng-if="Countdown.previous(item.countdownNumber)"><i class="fa fa-caret-left"></i></a>
        <span class="navigation-null" data-ng-if="Countdown.previous(item.countdownNumber) === false"><i class="fa fa-caret-left"></i></span>
      </li>
      <li class="navigation-list-item">
        <a class="navigation-link" href="/countdown/" title="Index"><i class="fa fa-bars"></i></a>
      </li>
      <li class="navigation-list-item">
        <a class="navigation-link" title="Next" data-ng-href="{{ '/countdown/' + Countdown.next(item.countdownNumber) }}" data-ng-if="Countdown.next(item.countdownNumber)"><i class="fa fa-caret-right"></i></a>
        <span class="navigation-null" data-ng-if="Countdown.next(item.countdownNumber) === false"><i class="fa fa-caret-right"></i></span>
      </li>
    </ul>
  </nav>
</footer>
